@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "تغییر رمزعبور";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<div class=" container mt-c mw-500">
    <div class="card shadow border-0 mt-5">
        <div class="card-header bg-primary bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="py-2 text-white fs-4">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <form id="change-password-form" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                     
                            <div class="input-group row">
                                <div class="form-floating mb-3 col-11">
                                    <input asp-for="Input.OldPassword" id="pass_log_old" class="form-control" autocomplete="current-password" aria-required="true" placeholder="لطفا رمز فعلی خود را وارد کنید" />
                                    <label asp-for="Input.OldPassword" class="form-label">رمز فعلی</label>
                                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                </div>
                                <span toggle="#password-old" id="password-old" class="bi bi-eye-fill field_icon toggle-password fs-5 mt-3 rounded-circle col-1"></span>

                            </div>
                            <div class="input-group row">
                                <div class="form-floating mb-3 col-11">
                                    <input asp-for="Input.NewPassword" id="pass_log_new" class="form-control" autocomplete="new-password" aria-required="true" placeholder="رمز جدید" />
                                    <label asp-for="Input.NewPassword" class="form-label">رمز جدید</label>
                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                </div>
                                <span toggle="#password-field-new" id="password-field-new" class="bi bi-eye-fill field_icon toggle-password fs-5 mt-3 rounded-circle col-1"></span>

                            </div>
                            <div class="input-group row">
                                <div class="form-floating mb-3 col-11">
                                    <input asp-for="Input.ConfirmPassword" id="pass_log_check" class="form-control" autocomplete="new-password" aria-required="true" placeholder="تکرار رمز جدید" />
                                    <label asp-for="Input.ConfirmPassword" class="form-label">تکرار رمز جدید</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <span toggle="#password-field-check" id="password-field-check" class="bi bi-eye-fill field_icon toggle-password fs-5 mt-3 rounded-circle col-1"></span>

                            </div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">تایید و ادامه</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).on('click', '#password-old', function () {

            $(this).toggleClass("bi bi-eye-slash-fill");

            var input = $("#pass_log_old");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
        });
        $(document).on('click', '#password-field-new', function () {

            $(this).toggleClass("bi bi-eye-slash-fill");

            var input = $("#pass_log_new");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
        });

        $(document).on('click', '#password-field-check', function () {

            $(this).toggleClass("bi bi-eye-slash-fill");

            var input = $("#pass_log_check");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
