.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    display: flex;
}


.swiper-content {
    width: 100%;
    height: 100% !important
}
.mySwiper {
    cursor: grab;
}