@{
    ViewData["Title"] = "صفحه ادمین";
}

<h1 class="display-4">@ViewData["Title"]</h1>


<table id="tblData" class="table table-bordered table-striped nowrap">
    <thead>
        <tr>
            <th># </th>
            <th>عکس</th>
            <th>سمت</th>
            <th>شماره کاربر</th>
            <th>نام</th>
        </tr>
    </thead>

</table>

@section Scripts {
    <script src="/js/Users.js"></script>
}
