<!-- ======= Footer ======= -->
<footer class="py-3 my-3 border-top">
    <div class="container">
        <div class="row gx-5 px-5">
            <div class="col-lg-5">
                <div class="widget">
                    <h3 class="fs-4">آدرس</h3>
                    <address>
                        گیلان، رشت،بلوار معلم، میدان سرگل،<br />
                        خیابان علی تنها، نبش کوچه دهم، املاک حمید
                    </address>
                    <p class="fs-6 text-primary">ساعات کار دفتر:</p>
                    <p class="mt-3">
                        هر روز هفته<br />
                        9:00 صبح تا 9:00 شب
                    </p>
                </div>
                <!-- /.widget -->
            </div>
            <div class="col-lg-4">
                <div class="widget">
                    <h3 class="fs-4">پشتیبانی:</h3>

                    <p class="fs-6 text-primary">شماره تماس:</p>

                    <p> 09382051815 <i class="bi bi-telephone-fill"></i></p>

                    <p class="fs-6 text-primary">ایمیل:</p>

                        <p>info@hamid-estate.com</p>
                </div>
                <!-- /.widget -->
            </div>


            <div class="col-lg-3">
                <h3 class="fs-4">لینک های ارتباطی</h3>


                <ul class="nav justify-content-start list-unstyled d-flex social">
                    <li>
                        <a href="https://www.instagram.com/amlak_hamid">
                            <i class="icons8-instagram">اینستاگرام</i>
                        </a>
                    </li>
                    <li>
                        <a href="tg://resolve?domain=amlak_hamid_group"><i class="icons8-telegram-app">تلگرام</i></i></a>
                    </li>
                    <li>
                        <a href="https://www.aparat.com/Hamid_Estate"><i class="bi bi-aparat">آپارات</i></a>
                    </li>
                    <li>
                        <a href="https://wa.me/989382051815"><i class="icons8-whatsapp">واتس اپ</i></a>
                    </li>
                    <li>
                        <a href="https://eitaa.com/Amlake_Hamid_Rasht"><i class="icons8-eitaa">ایتا</i></a>
                    </li>
                    <li>
                        <a href="https://rubika.ir/Amlake_Hamid_Rasht"><i class="icons8-rubika">روبیکا</i></a>
                    </li>
                </ul>
            </div>
         
            <!-- /.col-lg-4 -->
        </div>

    </div>
    <!-- /.container -->
</footer>
<!-- End Footer -->